Buoi3/Bai1_1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="studentType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="dob" type="xs:date"/>
            <xs:element name="major" type="xs:string"/>
        </xs:sequence>
        
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:element name="student" type="studentType"/>

    <xs:element name="students">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="student" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>