Buoi3/Bai2_3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="productType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="quantity" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="orderType">
        <xs:sequence>
            <xs:element name="product" type="productType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/> 
    </xs:complexType>

    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" type="orderType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        
        <xs:key name="UniqueProductIDInOrder">
            <xs:selector xpath="order"/>
            <xs:field xpath="product/@id"/>
        </xs:key>
    </xs:element>

</xs:schema>